<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Almoxarifado da PCCE 👮‍♂️</title>
</head>
<body>
    <center>

    {% if pergunta_calibre %}
        <p>É UMA ARMA:</p>

            {% for descricao in desc %}
                <p>{{ descricao.texto_desc | safe }}</p>
            {% endfor %}
    </center>
        <ul>
            {% for pergunta in pergunta_calibre %}
                <li><a href="{% url 'almoxarifado:municao' pergunta.id %}">{{ pergunta.texto }}</a></li>
            {% endfor %}
            <li><a href="{% url 'almoxarifado:index' %}">Começar de novo</a></li>
        </ul>

    {% else %}
        <p>Almoxarifado indisponível.❌</p>
    {% endif %}

</body>
</html>