<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almoxarifado da PCCE 👮‍♂️</title>
</head>
<body>
    <h1>{{pergunta.texto}}</h1>
    <h2>CALIBRE:</h2>

    <ul>
        {% for alternativa in pergunta.alternativa_set.all %}
        <li>{{alternativa.texto_perguntas}}</li>
        {% endfor %}

    </ul>
    <a href="{% url 'Almoxarifado:objeto' %}">Prosseguir</a>
    <a href="{% url 'Almoxarifado:index' %}">Começar de novo</a>
    
</body>
</html>