<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Almoxarifado da PCCE 👮‍♂️</title>
</head>
<body>
    <form action="{% url 'almoxarifado:calibre' pergunta.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{pergunta.texto}}</h1>
                <h2>CALIBRE:</h2></legend>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            {% for alternativa in pergunta.alternativa_set.all %}
                <input type="radio" name="alternativa" id="alternativa{{ forloop.counter }}" value="{{ alternativa.id }}">
                <label for="alternativa{{ forloop.counter }}">{{ alternativa.texto_perguntas }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Prosseguir">
        </form>
    <ul>
        <li><a href="{% url 'almoxarifado:index' %}">Começar de novo</a></li>
    </ul>

</body>
</html>