<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Almoxarifado da PCCE 👮‍♂️</title>
</head>
<body>
    {% if pergunta_calibre %}
        <p>É UMA MUNIÇÃO:</p>

        {% for descricao in desc %}
            <p>{{ descricao.texto_desc }}</p>
        {% endfor %}

        <ul>
            {% for pergunta in pergunta_calibre %}
                <li><a href="{% url 'almoxarifado:arma' pergunta.id %}">{{ pergunta.texto }}</a></li>
            {% endfor %}
        </ul>

        <a href="{% url 'almoxarifado:index' %}">Começar de novo</a>

    {% else %}
        <p>Almoxarifado indisponível.❌</p>
    {% endif %}

</body>
</html>